/* .btn {
    width: 100px;
    height: 20px;
    background-color: brown;
    animation: 5s;
}



.img {
    width: 50%;
    height: 80%;

}



#elemDiv {
    width: 500px;
    height: 500px;
    background-color: rgb(13, 37, 45);

    
}
 */
