.element {
    width: 100px;
    height: 100px;
    background-color: black;
    position: relative;
}

.element:hover {
    
    animation: lups 3s ease forwards,5s linear forwards,1s;
}
.box {
    height: 200px;
    width: 200px;
    background-color: blueviolet;
    
}
.box:active {
    animation: size 3s;
    border-radius: 50%;

}
@keyframes size{
    0%{
        width: 200px;
        height:200px;
        border-radius: 50%;

    }
    100%{
        width: 400px;
        height:400px;
        background-color: red;
    }
}


    

@keyframes lups {
    0% {
        transform: scale(1) translateX(0) ; background-color:rgb(255, 0, 0) ;
    }
    100% {
        transform: scale(1.5) translateX(600px); background-color: rgb(166, 255, 0); 
    }

}

@keyframes changeBackroundColor {
    0% {
        background-color: rgb(78, 105, 105);
    }
    50% {
        background-color: rgb(83, 13, 149);
    }
    100% {
        background-color: rgb(158, 42, 42);
    }
}
.box2 {
    height: 100px;
    width: 100px;
    background-color: black;
}
.box2:hover {
    animation: food 5s infinite alternate;
    
}
@keyframes food {
    0%{
        transform: scale(1) translateX(0);
        background-color: rgb(29, 5, 247);
    }
    100%{
        transform: scale(1.3) translateX(800px);
        background-color: rgb(1, 244, 25);
       
    }
}
