body {
    margin: 0;
    min-width: 900px;
    min-width: 1440px;
}
.container {
    display: inline-block;
}

#logo {
    display: inline-block;
    margin-left: 42px;
    margin-top: 31px;
    height: 30px;
    width: 100px;
    font-family: Poppins;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
}

h1 {
    display: inline-block;
    color: #000;
    font-family: Poppins;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
#p1 {
    display: inline-block;
    color: #000;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
#p2{
    display: inline-block;
    color: #000;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.register {
    display: inline-block;
    color: #0C21C1;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.div_email {
    display: inline-block;
    width: 429px;
    height: 64px;
    flex-shrink: 0;
}
.line {
    display: inline-block;
    display: flex;
    width: 429px;
    height: 2px;
    flex-shrink: 0;
}
.icons {
    display: inline-block;
    flex-direction: row;
    justify-content: space-around;
    width: 41.457px;
    height: 41.457px;
    flex-shrink: 0;
}

.blue_rectengle {
    display: inline-block;
    display: flex;
    margin-left: 684px; 
    margin-top: 21px;
    margin-right: 21px;
    margin-bottom: 20px;
    width: 735px;
    height: 859px;
    flex-shrink: 0;
    border-radius: 15px;
    background: #000842;
}
#text2 {
    display: inline-block;
    color: #FFF;
    font-family: Poppins;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

#text3 {
    display: inline-block;
    width: 396px;
    color: #FFF;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.input_logo {
    display: inline-flex;
    justify-content: center;
    width: 17px;
    height: 17px;
    flex-shrink: 0;
}

.email {
    margin-bottom: 7px;
}

.line {
    display: flex;
    width: 429px;
    height: 2px;
    flex-shrink: 0;
    background: #000842;
}

.email_small {
    margin-top: 52px;
    margin-bottom: 44px;
    color: #000842;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.password_small {
    margin-top: 49px;
    margin-bottom: 11px;
    color: #000842;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#login {
    margin-top: 95px;
    width: 429px;
    height: 53px;
    flex-shrink: 0;
    border-radius: 32px;
    background: #0C21C1;
    box-shadow: 0px 4px 26px 0px rgba(0, 0, 0, 0.25);
}